<div class="content-testimonio fade-in">
<div class="card2 fade-in">
<div class="card-img-container fade-in">
<img alt="{{imgdsc}}" src="{{imgurl}}"/>
</div>
<h2>{{titulo}}</h2>
<small>{{descripcion}}</small>
<p>{{contenido}}</p>
</div>
</div>